<div class="list-group">
<% groups.each_slice(4) do |chunk| %>
  <div class="row">
    <% chunk.each do |(category, groups)| %>
      <a class="col-xs-2 list-group-item" href='#cat-<%= category %>'>
        <%= category %> <span class="badge"><%= groups.count %></span>
      </a>
    <% end %>
  </div>
<% end %>
</div>
<p> Total: <b><%= @groups.inject(0) {|count, (_, groups)| count + groups.count} %></b> lists </p>
