<div>
  <p> Initializing the group list... this may take a few minutes if you
  have a lot of groups. </p>

  <p> Currently up to <b><%= @cache_count %></b> cached group entries
  (out of <b><%= @group_count %></b> total groups). </p>
</div>
